<footer>
  <div class="footer-container">
    <div class="footer-column">
      <h4>Enlaces Útiles</h4>
      <ul>
        <li><a routerLink="/home" class="button">Pagina Principal</a></li>
        <li><a routerLink="/register">Registrar</a></li>
        <li><a routerLink="/search">Buscar Trabajador</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Información de contacto</h4>
      <p><a href="mailto:ejemplo@gmail.com">ejemplo&commat;gmail.com</a></p>
    </div>
    <div class="footer-column">
      <h4>Redes Sociales</h4>
      <ul>
        <li><a href="#">Instagram</a></li>
      </ul>
    </div>
  </div>
</footer>
