/* COLORES:
Azul logo: #1464F6;
Azul fondo: #0C59CF;
Fondo Gris: #C0C0C0
*/
footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1464F6;
  text-align: center;
  width: 100%;
  font-size: 1rem; /* Tamaño de fuente responsivo */
}

/* Ajustes Responsivos */
@media (max-width: 760px) {
  footer {
    position: static;
    padding: 0.5em 0; /* Reduce el padding en pantallas pequeñas */
    font-size: 0.875rem; /* Reduce el tamaño del texto */
  }
}

.footer-container {
  display: flex;
  flex-direction: column; /* Cambiar a columna para dispositivos pequeños */
  align-items: center; /* Centra los elementos en el eje horizontal */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.footer-column {
  flex: 1;
  margin: 0.5em 0; /* Espaciado vertical entre columnas */
  text-align: center; /* Centra el texto dentro de cada columna */
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 0.5em 0;
}

.footer-column a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* Responsividad */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row; /* Cambiar a fila en pantallas más grandes */
  }

  .footer-column {
    margin: 0 1em; /* Espaciado horizontal entre columnas */
  }
}
