<footer>
  <div class="footer-container">
    <div class="footer-column">
      <h4>Enlaces Útiles</h4>
      <ul>
        <li><a href="#">Registrar</a></li>
        <li><a href="#">Buscar Trabajador</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Información de contacto</h4>
      <p><a href="mailto:ejemplo@gmail.com">ejemplogmail.com</a></p>
    </div>
    <div class="footer-column"></div>
    <ul>
      <h4>Redes Sociales</h4>
      <li><a href="#">Instagram</a></li>
    </ul>
  </div>
  </footer>
