/* Contenedor principal de las secciones */
.section-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las secciones se ajusten en dispositivos pequeños */
  justify-content: space-between; /* Espacio entre las secciones */
  width: 90%; /* Reduce el ancho para dispositivos pequeños */
  max-width: 1200px; /* Tamaño máximo del contenedor */
  margin: 40px auto; /* Centra el contenedor */
}

/* Secciones individuales */
app-section-search,
app-section-register {
  flex: 1; /* Las secciones comparten igual ancho */


}


/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .section-container {
    flex-direction: column; /* Las secciones se apilan verticalmente */
    align-items: center; /* Centra las secciones */
    justify-content: space-between; /* Espacio entre las secciones */
    gap: 20px; /* Espaciado entre las secciones */
  }
}
